/* Background should cover full screen */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.signin_page {
  background: linear-gradient(to right, #290861, #460b6e);
  height: 100%;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar .logo {
  display: flex;
  align-items: center;
  width: 370px;
  height: 60px;
  top: 34px;
  left: 37px;
  color: #f5daf4;
}
.navbar .logo img {
  width: 45px;
  height: 45px;
  top: 34px;
  left: 37px;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s;
  font-family: Inter;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #F5DAF4;
}
.navbar .logo a:hover {
  opacity: 0.7;
  cursor: pointer;
}


/* Login Box */
.login {
  padding: 40px;
  margin-top: 20px;
  margin-left: 36%;
  text-align: center;
  width: 350px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  border-radius: 70px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.user-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  background-color: #EADDFF;
  border-radius: 50%;
}
.login hr {
  width: 340px;
  opacity: 0.6;
  border-width: 2px;
  border-color: #D1B4E3;
  margin-top: 10px;
}

/* Form */
.form-group {
  text-align: left;
  margin-bottom: 20px;
}
label {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}
input {
  width: 90%;
  padding: 14px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  outline: none;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Password Visibility */
.password-wrapper {
  position: relative;
}
.eye-button {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.eye-icon {
  width: 20px;
  height: 20px;
}

/* Button */
button {
  width: fit-content;
  padding: 15px;
  font-size: 20px;
  background-color: #EADDFF;
  color: rgb(76, 34, 96);
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}
#loginButton:hover {
  background: #8567bc;
  background-color: none;
}
#loginButton{
  width: 100%;
}

/* Create Account */
.create-account {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
.create-account a {
  color: #9c27b0;
  font-weight: 600;
  text-decoration: none;
}
.create-account a:hover {
  text-decoration: underline;
}
