html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/*main page*/
.home_page{
  background: linear-gradient(to right, #290861, #460b6e);
  height: 100%;
  user-select: none;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar .logo {
  display: flex;
  align-items: center;
  width: 370px;
  height: 60px;
  top: 34px;
  left: 37px;
  color: #f5daf4;
}
.navbar .logo img {
  width: 45px;
  height: 45px;
  top: 34px;
  left: 37px;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s;
  font-family: Inter;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #F5DAF4;
}
.navbar .logo a:hover {
  opacity: 0.7;
  cursor: pointer;
}
.navbar .auth-links {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-left: auto;
  border-radius: 100px;
  border-width: 2px;
  gap: 8px;
}
.navbar .auth-links button {
  background: transparent;
  text-decoration: none;
  color: white;
  padding: 8px 20px;
  border: 2px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  border-width: 2px;
  margin-right: 5px;
  font-size: 1.3rem;
}
.navbar .auth-links button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/*home*/
.home {
  color: white;
  display: flex;
  padding: 40px 40px;
}
.home-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.home-content h1 {
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.5px;
  align-items: left;
}
.home-content p {
  font-size: 1.8rem;
  margin-bottom: 30px;
  align-items: left;
  letter-spacing: 5px;
}
.home-image{
  margin-left: 180px;
}
.chat-button { 
  padding: 15px 40px;
  font-size: 1.7rem;
  text-decoration: none;
  width: 25%;
  transition: background-color 0.3s ease;
  border-radius: 40px;
  border: 2px solid white;
  color: white;
  margin-left: 190px;
}
.chat-button:hover {
  background-color: white;
  color: black;
}